#Unused files
.DS_store
.idea
Act_2/Docs/
Act_2/Wireshark/
Act_2/250.txt
Act_2/100.txt
Act_1/250.txt
Act_1/100.txt
Act_1/Logs/*.txt
Act_1/ArchivosRecibidos/*.txt
Act_2/Logs/*.txt
Act_2/ArchivosRecibidos/*.txt